<!DOCTYPE html>
<html lang="es" xmlns:th="www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Captura Parametros</title>
</head>
<body>
  <h1>Perfil de Usuario</h1>
  <h3 th:text="${textoIngresado}"></h3>
  <ul>
    <li><a th:href="@{/path_variables/}">Volver a la Lista de Path Variables</a></li>
  </ul>
  <br>
</body>
</html>