<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Perfil de Usuario</title>
</head>
<body>
<h1 th:text="${title}"></h1>
<div id="perfil">
    <label id="name-label">Nombre: </label>
    <span id="name" th:text="${usuario.nombre}"></span>
    <br />
    <label id="surname-label">Apellido: </label>
    <span id="surname" th:text="${usuario.apellido}"></span>
    <br/>
    <label id="age-label">Edad: </label>
    <span id="age" th:text="${usuario.edad}"></span>
    <br/>
    <label id="email-label">email: </label>
    <span id="email" th:if="${usuario.email}" th:text="${usuario.email}"></span>
    <span th:if="${usuario.email == null}">El usuario no tiene Email</span>
</div>
</body>
</html>