<!DOCTYPE html>
<html lang="es" xmlns:th="www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Enviar Parametros</title>
</head>
<body>
  <h1>Lista de Parametros</h1>
  <ul>
  	<li><a th:href="@{/params/string(texto='parametro enviado')}">/params/string?texto=parametro enviado</a></li>
  	<li><a th:href="@{/params/string(texto='otro')}">/params/string?texto=Otro</a></li>
  </ul>
</body>
</html>